* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #999;
}

header {
  width: 100%;
  height: 40px;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  margin-bottom: 1rem;
  
  background-color: #777777;
}

.lista-produtos {
  /* width: 100%; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.produtoCard {
  width: 300px;
  height: 400px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  
  background-color: orange;
  border-radius: 8px;
}

.produtoCard img{
  width: 150px;
  height: 150px;
}
.produtoCard a{
  text-decoration: none;
  color: #333;
}
.produtoCard h3{
  padding-block: 1rem;
}

.produtoCard p{
  font-size: 1.5rem;
  font-weight: bold;
  color: orangered;
  text-shadow: 0 0 5px #cecece;
}

.produtoCard button{
  background-color: greenyellow;
  border: none;
  border-radius: 6px;
  padding-block: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color .5s;
}
.produtoCard button:hover{
  background-color: green;
  color: white;
}