* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* tons de cinza */
  --gray-700: #91959d;
  --gray-600: #9da1a8;
  --gray-500: #a8acb4;
  --gray-400: #b4b8c0;
  --gray-300: #c0c4cc;
  --gray-200: #ccd0d8;
  --gray-100: #d8dce5;

  /* tons de laranja */
  --orange-700: #da5a00;
  --orange-600: #e66400;
  --orange-500: #f26e00;
  --orange-400: #ff7800;
  --orange-300: #ff8215;
  --orange-200: #ff8d23;
  --orange-100: #ff972f;

  /* tons de alertas */
  --black: #000000;
  --white: #f4f4f4;
  --success: #28a745;
  --error: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
}

body {
  background-color: var(--gray-200);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/*
  Cabeçalho
*/
.cabecalho {
  height: 120px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;

  background-color: var(--orange-400);
  box-shadow: 0 2px 5px var(--orange-300);
}

.cabecalho a{
  text-decoration: none;
  color: var(--black);
}

.cabecalho h2{
  transition: all 0.3s;
}

.cabecalho h2:hover{
  transform: scale(1.05);
  text-shadow: 0 0 5px var(--orange-700);
}

.img-carrinho {
  width: 30px;
  height: 30px;
}

.carrinho {
  text-decoration: none;
}

.qnt-produtos {
  font-size: 12px;

  /* posição da bolinha com o texto */
  position: absolute;
  top: 1.2rem;
  right: 2rem;

  /* cores e dimensões da bolinha*/
  background-color: var(--white);
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;

  /* justifica o texto na bolinha */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Listagem de Produtos
*/
.categoria {
  text-transform: capitalize;
  text-align: center;
  padding-block: 2rem 1rem;
}

.card-produto {
  height: 10rem;
  width: 12rem;

  text-transform: capitalize;
  background-color: var(--orange-100);
  box-shadow: 1px 1px 2px var(--orange-200);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.btnComprar {
  font-size: 14px;
  font-weight: bold;
  color: var(--orange-400);

  border: none;
  border-radius: 4px;
  background-color: var(--white);

  padding-block: 4px;
  padding-inline: 6px;

  cursor: pointer;
  transition: all 0.4s;
}

.btnComprar:hover {
  background-color: var(--success);
  color: var(--gray-100);
}

.produtos-categoria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*
  Lista de itens no carrinho
*/

.lista-produtos-carrinho{
  height: 50vh;
  overflow-y: auto;

  /* background-color: red; */

  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0 2rem;
  margin: 1rem;
}

.lista-produtos-carrinho::-webkit-scrollbar{
  width: 12px;
}
.lista-produtos-carrinho::-webkit-scrollbar-track{
  background-color: var(--gray-400);
  border-radius: 10px;
}
.lista-produtos-carrinho::-webkit-scrollbar-thumb{
  background-color: var(--orange-400);
  border-radius: 10px;
}
.item-card{
  background-color: var(--gray-400);
  border-radius: 4px;
  padding-inline: 3rem;
  padding-block: 1rem;

  display: flex;
  justify-content: space-between;

}

.produto-nome{
  text-transform: capitalize;
}

.btnRemover {
  font-size: 14px;
  font-weight: bold;
  color: var(--white);

  border: none;
  border-radius: 4px;
  background-color: var(--error);

  padding-block: 4px;
  padding-inline: 6px;

  cursor: pointer;
  transition: all 0.4s;
}

.btnRemover:hover {
  box-shadow: 1px 1px 5px red;
}